<header class="image-bg stardust-ptn">
  <img alt="" class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo">
</header>

<div class="row">
  <div class="col-sm-4">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="title">80</div>
        <div class="comment">Users</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-sm-4">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon red pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">16</div>
        <div class="comment">Servers</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-sm-4">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon orange pull-left">
          <i class="fa fa-sitemap"></i>
        </div>
        <div class="title">225</div>
        <div class="comment">Documents</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>