<header class="image-bg trees-ptn">
  <div class="col-sm-12">
    <h1>
      <strong>Writing</strong>
    </h1>
    <p class="lead">This is the about me sub-header</p>
  </div>
<!-- <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt=""> -->
</header>

<div class="row">
  <div class="col-md-6" ng-repeat="essay in essays">
    <rd-widget>
<!-- <rd-widget-header icon="fa-users" title="Essay Title">
				<button class="btn btn-sm btn-default">Button</button>
			</rd-widget-header> -->
      <rd-widget-body classes="medium">
        <h5 class="skinny-header">{{essay.title}}</h5>
        <blockquote>
          <p>{{essay.content}}</p>
        </blockquote>
      </rd-widget-body>
      <rd-widget-footer classes="gutter-top clearfix">
        <button class="btn btn-default">
          <i class="fa fa-medium"></i>
          Medium
        </button>
        <button class="btn btn-default pull-right">
          <i class="fa fa-share"></i>
          Share
        </button>
      </rd-widget-footer>
      <rd-widget></div>
    </div>