<!doctype html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Phillip Curl</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css"> -->
  <!-- endbuild -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/styles.min.css">
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>

<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="class {{currSidebarClass}}">

      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()" title="Toggle Navigation">
            Phillip Curl
            <i class="pull-right menu-icon glyphicon" ng-class="{'glyphicon-chevron-left': toggle, 'glyphicon-chevron-right': !toggle}"></i>
          </a>
        </li>
        <li class="sidebar-title">
          <span>NAVIGATION</span>
        </li>
        <li ng-repeat="menuItem in menuItems" class="sidebar-list">
          <a ng-click="menuClick($index)" href="{{menuItem.url}}">
            {{menuItem.title}} <span class="menu-icon fa {{menuItem.icon}}"></span>
            <span class="sr-only">{{menuItem}}</span>
          </a>
        </li>
      </ul>

      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/phillipcurl" target="_blank">
            GitHub
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" target="_blank">
            Email
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Item 3
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">
        <nav class="navbar navbar-fixed-top visible-xs">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img alt="Brand" src="...">
              </a>
              <div class="meta">
                <div class="page">
                  Phillip Curl
                </div>
                <div class="breadcrumb-links">
                  {{pageTitle}}
                </div>
              </div>
              <div class="pull-right item gutter visible-xs">
                <a ng-click="toggleSidebar()" class="btn btn-default">
                  Menu
                </a>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </nav>

        <div class="gutter-top alerts-container" ng-class="{'fade': !showAlerts, 'no-fade': showAlerts}" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length" style="position:absolute; z-index:900;">
          <div data-ng-repeat="alert in alerts" class="col-xs-12" ng-class="{'hidden': alert.wasClosed, 'visible': !alert.wasClosed}">
            <alert type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div>
        </div>
        <!-- Main Content -->
        <div id="main-content" ui-view></div>
      </div>
      <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
  </div>
  <!-- End Page Wrapper -->
</body>
</html>
